svg(xmlns='http://www.w3.org/2000/svg' width='100.0' height='50.0' viewbox='563.0 476.0 171.0 80.0' preserveaspectratio='none')
  g
    g#s-Image_29-61d56
      g(transform='matrix(1.0 0.0 0.0 1.0 563.0 476.0)')
        svg(width='171.0' height='80.0' viewbox='0.0 0.0 171.0 80.0' preserveaspectratio='none')
          title Fill 1 Copy 18
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
            g#Artboard(transform='translate(-1412.000000, -1447.000000)' fill='#EDFAFF' stroke='#78C8EE')
              path#Fill-1-Copy-18(d='M1579.94511,1480.38259 L1551.26956,1454.07462 C1548.71546,1450.61001 1543.53761,1448 1539.24208,1448 L1422.10188,1448 C1417.08656,1448 1413,1452.06515 1413,1457.05419 L1413,1516.94581 C1413,1521.93485 1417.08656,1526 1422.10188,1526 L1539.24208,1526 C1543.56083,1526 1548.73868,1523.38999 1551.26956,1519.92538 L1579.94511,1493.61741 C1582.68496,1489.92182 1582.68496,1484.10127 1579.94511,1480.38259')
  g
    text#s-Paragraph_13-61d56(text-anchor='middle' x='641.0' y='520.6015625' font-family='Open Sans' font-weight='400' font-style='normal' font-size='14.0' fill='#78C8EE')
      tspan(font-family='Arial' font-weight='400' font-style='normal' font-size='26.0' fill='#000000' dy='0.0' x='641.0') 2022
