doctype html

html(lang="de")
    include mixins/head.pug

body
    main
        include mixins/nav.pug

p.adsimple-122007175
  | Angaben gem&auml;&szlig; Informationspflicht laut &sect;5 E-Commerce Gesetz, &sect;14 Unternehmensgesetzbuch, &sect;63 Gewerbeordnung und Offenlegungspflicht laut &sect;25 Mediengesetz.
p.adsimple-122007175
h1.adsimple-122007175.fusion-responsive-typography-calculated(style='--fontsize: 32; line-height: 1.2;' data-fontsize='32' data-lineheight='38.4px') Impressum
  | Frellancing Domanig
  br
  | Tobias Domanig
  br
  | Zelsach7, 
  br
  | 9852 Trebesing, 
  br
  | &Ouml;sterreich
p.adsimple-122007175
  strong Unternehmensgegenstand:
  |  IT Dienstleistungen
  br
  strong UID-Nummer:
  |  ATU12345678
  br
  strong GLN:
  |  1234567891234
  br
  strong GISA:
  |  12345678
p.adsimple-122007175
  strong Tel.:
  |  6606471808
  br
  strong E-Mail:
  a(href='mailto:domanig.t@outlook.com') domanig.t@outlook.com
p.adsimple-122007175
  strong Mitglied bei:
  |  WKO, Landesinnung, etc.
  br
  strong Berufsrecht:
  |  Gewerbeordnung: www.ris.bka.gv.at
p.adsimple-122007175
  strong Aufsichtsbeh&ouml;rde/Gewerbebeh&ouml;rde:
  |  Bezirkshauptmannschaft Musterhausen
  br
  strong Berufsbezeichnung:
  |  Webdesigner, Grafiker
  br
  strong Verleihungsstaat:
  |  &Ouml;sterreich
p.adsimple-122007175
  strong Kontaktdaten des Verantwortlichen f&uuml;r Datenschutz
  br
  | Sollten Sie Fragen zum Datenschutz haben, finden Sie nachfolgend die Kontaktdaten der verantwortlichen Person bzw. Stelle:
  br
  | Musterfirma GmbH
  br
  |  Musterstra&szlig;e 47, 12312 Musterstadt, Musterland
  br
  | Vertretungsberechtigt: Markus Mustermann
  br
  | E-Mail-Adresse: 
  a(href='mailto:office@musterfirma.com') office@musterfirma.com
  br
  | Telefon: 01234/56789
  br
  | Impressum: 
  a(href='https://www.testfirma.at/impressum/' rel='noopener' target='_self') https://www.testfirma.at/impressum/
h2#eu-streitschlichtung.adsimple-122007175.fusion-responsive-typography-calculated(style='--fontsize: 24; line-height: 1.5; --minfontsize: 24;' data-fontsize='24' data-lineheight='36px') EU-Streitschlichtung
p
  | Gem&auml;&szlig; Verordnung &uuml;ber Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) m&ouml;chten wir Sie &uuml;ber die Online-Streitbeilegungsplattform (OS-Plattform) informieren.
  br
  |  Verbraucher haben die M&ouml;glichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europ&auml;ischen Kommission unter 
  a.adsimple-122007175(href='https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE' rel='follow noopener' target='_blank') https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE
  |  zu richten. Die daf&uuml;r notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.
p
  | Wir m&ouml;chten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
h2#haftung-fuer-inhalte-dieser-webseite.adsimple-122007175.fusion-responsive-typography-calculated(style='--fontsize: 24; line-height: 1.5; --minfontsize: 24;' data-fontsize='24' data-lineheight='36px') Haftung f&uuml;r Inhalte dieser Website
p
  | Wir entwickeln die Inhalte dieser Website st&auml;ndig weiter und bem&uuml;hen uns korrekte und aktuelle Informationen bereitzustellen. Leider k&ouml;nnen wir keine Haftung f&uuml;r die Korrektheit aller Inhalte auf dieser Website &uuml;bernehmen, speziell f&uuml;r jene, die seitens Dritter bereitgestellt wurden. Als Diensteanbieter sind wir nicht verpflichtet, die von Ihnen &uuml;bermittelten oder gespeicherten Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen.
p
  | Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder beh&ouml;rdlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit davon unber&uuml;hrt.
p
  | Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen k&ouml;nnen. Sie finden die Kontaktdaten im Impressum.
h2#haftung-links-webseite.adsimple-122007175.fusion-responsive-typography-calculated(style='--fontsize: 24; line-height: 1.5; --minfontsize: 24;' data-fontsize='24' data-lineheight='36px') Haftung f&uuml;r Links auf dieser Website
p
  | Unsere Website enth&auml;lt Links zu anderen Websites f&uuml;r deren Inhalt wir nicht verantwortlich sind. Haftung f&uuml;r verlinkte Websites besteht f&uuml;r uns nicht, da wir keine Kenntnis rechtswidriger T&auml;tigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen w&uuml;rden, wenn uns Rechtswidrigkeiten bekannt werden.
p
  | Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.
h2#urheberrechtshinweis.adsimple-122007175.fusion-responsive-typography-calculated(style='--fontsize: 24; line-height: 1.5; --minfontsize: 24;' data-fontsize='24' data-lineheight='36px') Urheberrechtshinweis
p
  | Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Bitte fragen Sie uns bevor Sie die Inhalte dieser Website verbreiten, vervielf&auml;ltigen oder verwerten wie zum Beispiel auf anderen Websites erneut ver&ouml;ffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.
p
  | Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.
h2#bildernachweis.adsimple-122007175.fusion-responsive-typography-calculated(style='--fontsize: 24; line-height: 1.5; --minfontsize: 24;' data-fontsize='24' data-lineheight='36px') Bildernachweis
p
  | Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich gesch&uuml;tzt.
p &nbsp;
p Die Bilderrechte liegen bei:
p
  | Fotograf Max Mustermann
  br
  |  Fotografin Pia Musterfrau
p &nbsp;
p Alle Texte sind urheberrechtlich gesch&uuml;tzt.
p(style='margin-top: 15px;')
  | Quelle: Erstellt mit dem 
  a(title='Impressum Generator von AdSimple für Österreich' href='https://www.adsimple.at/impressum-generator/') Impressum Generator
  |  von AdSimple
