doctype html
html(lang="en")
    include mixins/head.pug

body(class="bg-gradient-to-r from-purple-400 to-yellow-400")
    include mixins/nav.pug
    article(class="min-h-screen w-screen   " id="article")
        

        div(class="projectcontainer")
            div(class="projectimage " id="image1")
            div(class="projectdescription" id="text1") 
                p(id="title1" class="projecttitle")
                br
                p(id="content1" class="projectcontent")
                br
                p(id="date1" class="projectdate")

        div(class="projectcontainer")
            div(class="projectimage" id="image2")
            div(class="projectdescription" id="text2") 
                p(id="title2" class="projecttitle")
                br
                p(id="content2" class="projectcontent")
                br
                p(id="date2" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image3")
            div(class="projectdescription" id="text3") 
                p(id="title3" class="projecttitle")
                br
                p(id="content3" class="projectcontent")
                br
                p(id="date3" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image4")
            div(class="projectdescription" id="text4")  
                p(id="title4" class="projecttitle")
                br
                p(id="content4" class="projectcontent")
                br
                p(id="date4" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image5")
            div(class="projectdescription" id="text5")  
                p(id="title5" class="projecttitle")
                br
                p(id="content5" class="projectcontent")
                br
                p(id="date5" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image6")
            div(class="projectdescription" id="text6") 
                p(id="title6" class="projecttitle")
                br
                p(id="content6" class="projectcontent")
                br
                p(id="date6" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image7")
            div(class="projectdescription" id="text7") 
                p(id="title7" class="projecttitle")
                br
                p(id="content7" class="projectcontent")
                br
                p(id="date7" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image8")
            div(class="projectdescription" id="text8") 
                p(id="title8" class="projecttitle")
                br
                p(id="content8" class="projectcontent")
                br
                p(id="date8" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image9")
            div(class="projectdescription" id="text9") 
                
                p(id="title9" class="projecttitle" )
                br
                p(id="content9" class="projectcontent")
                br
                p(id="date9" class="projectdate")

        div(class=" projectcontainer")
            div(class="projectimage " id="image10")
            div(class="projectdescription" id="text10") 
                
                p(id="title10" class="projecttitle")
                br
                p(id="content10" class="projectcontent")
                br
                p(id="date10" class="projectdate")
        

    include mixins/footer.pug



script(src="./../src/frontend/portfolio.js")
script(src="./../src/scripts/scroll.js")